cssselect==0.7.1
decorator==3.4.0
flask==0.9
flask-script==0.5.3
flask-seasurf==0.1.13
furl==0.3.3
jinja2==2.6
httpagentparser==1.2.1
markdown==2.2.1
mongoengine==0.7.9
passlib==1.6.1
premailer==1.12
pymongo==2.4.2
python-postmark==0.3.2
requests==1.1.0
selenium==2.29.0
termcolor==1.1.0
werkzeug==0.8.3
